@charset 'utf-8';

.wrap{
  width: 300px;
  height: 600px;
  border: 10px solid black;
  margin: 100px auto;
}
/* 전체 레이아웃에는 영향을 미치지 않으면서
자기 자신만 이동하거나 변화를 주고 싶을 떄 사용한다.
 */

.wrap .box1{
  width: 300px;
  height: 300px;
  background-color: cyan;
  position: relative ;
  top: -50px;
  left: 50px;
}

.wrap .box2{
  width: 300px;
  height: 300px;
  background-color: hotpink;
}