@charset 'UTF-8';

div{
  width: 300px;
  height: 300px;
  background-color: blanchedalmond;
}

div:hover{
  background-color: purple;
}
div:active{
  border: 5px solid blue;
}

/* n번쨰 바꾸기 */
ul li:nth-of-type(3){
  border: 1px solid red;
}

ul li:nth-of-type(3){
  border: 1px solid blue;
}
/* 마지막에서 첫번쨰 변경하기 또는 last-child도 가능 */
ul li:nth-last-of-type(1){
  border: 1px solid gray;
}
ul li:last-child{
  border: 3px solid purple;
}
/* 홀수만 적용하고 싶을 때 만일 짝수일때는 2n */
ul li:nth-of-type(2n-1){
  border: 1px solid orange;
} 