
#home{
  background: url('./imgs/home-background.png') center no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,.home__descripton{
color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size : var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radious) ;
}